In [15]:
import pandas as pd
import sqlite3

In [16]:
con = sqlite3.connect('kitaphane.db')

In [18]:
query = "SELECT * FROM books"  # Örneğin, 'books' tablosundan tüm verileri seçin
dataFrame = pd.read_sql(query, con)

In [ ]:
dataFrame

,id,book_size,who_added,book_uid,book_name,book_author,book_page_number,book_year,book_summary,book_price,book_category_id,book_views_count,book_is_favorite
0,1,1,admin,6yliN2znG5ZWCUjS96YG4GPJ1Oo1,admin,admin,123,1234,ozet admin,100,1716031775945,0,1